.moreCookie {
  animation-name: morecookieeffect;
  animation-duration: 1s;

}

@keyframes morecookieeffect {
    from{
      transform: translateY(100px);
    }
    to{
      transform: translateY(-400px);
      opacity: 0%;
    }
}